/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	padding: 1.8em 0;
	text-align: center;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #BD1D2D;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	text-align: center;
	width: 350px;
}

.child-logo{
	text-align: center;
	max-width: 150px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

.main-header,
.row,
.footer-inner{
	width: 80%;
	margin: 0 auto;
	max-width: 1150px;
}
.tagline {
	font-size: 1.4em;
}


/* ================================= 
  Media Queries
==================================== 

@media (min-width: 769px) {
	.main-header,
	.row,
  .footer-inner{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}
}


*/

.fadein { -webkit-animation:fadein 13.5s; animation:fadein 13.5s }
@-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
@keyframes fadein { from {opacity:0} to {opacity:1} }

.fadeout { -webkit-animation:fadeout 5.5s; animation:fadeout 5.5s }
@-webkit-keyframes fadeout { from {opacity:1} to {opacity:0} }
@keyframes fadeout { from {opacity:1} to {opacity:0} }

